<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Event</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Create an Event</h1>
      <form method="post">
        {% csrf_token %} {{ form.non_field_errors }}

        <div class="mb-3">
          <label for="title" class="form-label">Event Title</label>
          {{ form.title }}
        </div>

        <div class="mb-3">
          <label for="bio" class="form-label">Bio</label>
          {{ form.bio }}
        </div>

        <div class="mb-3">
          <label for="venue" class="form-label">Venue</label>
          {{ form.venue }}
        </div>

        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          {{ form.address|add_placeholder:"e.g., 84 John Street Sheffield S13
          5JG" }}
          <small class="form-text text-muted"
            >Please enter the full address, including street, city, and
            postcode.</small
          >
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          {{ form.date }}
        </div>

        <div class="mb-3">
          <label for="music_genre" class="form-label">Music Genre</label>
          {{ form.music_genre }}
        </div>

        <button type="submit" class="btn btn-primary">Create Event</button>
      </form>
    </div>

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JavaScript-->
    <script src="static/js/script.js"></script>
  </body>
</html>
